.product-banner{
    background-image: url('img/shop-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}
.product-banner-content{
    display: flex;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.product-banner-content h2{
    color: #fff;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 5px;

}
.product-banner-content p{
    margin:0;

}
.product-banner-content i{
    color: #fff;
    font-size: 16px;

}
.product-banner-content a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;

}
.product-banner-content .shop-color{
    color: #f79837;
}


.product-details-start{
    margin: 100px 0;
}
.pro-details-row{
    display: flex;
    padding: 15px;
    border:  5px dotted #EBEBEB;
    border-radius: 5px;
}
.pro-details-col{
    width:36%;
    margin-right: 2%;
}
.pro-details-col img{
    width:100%;
}
.pro-grp-img{
    display: flex;
    justify-content: space-between;
}

.pro-grp-one{
    width: 24%;
}


.pro-details-info{
    width:60%;
    padding-left: 20px;
}
.pro-details-info h2{
    margin:0;
    margin-bottom: 15px;
    font-size:28px;
}

.pro-details-icons i{
    color: #FFCA28;
}
.pro-details-info strike{
    color:#F79837;
    margin-left: 10px;
    font-size: 22px;
}
.pro-details-info h3{
    font-size: 22px;
}
.pro-size select{
    background-color: #F7AA5C;
    color: #000;
    font-size: 16px;
    padding: 10px 30px;
    border: 1px solid #FFCA28;
    border-radius: 5px;
}
.pro-color{
    display: flex;
    margin-top: -10px;
    margin-bottom: 30px;
}
.pro-color-one{
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 10px;
}
.pro-color .red{
    background-color: red;
}
.pro-color .green{
    background-color: green;
}
.pro-color .blue{
    background-color: blue;
}
.
 i{
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}
.pro-input input{
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #E9ECEF;
    color: #000;
    text-align: center;
}
.pro-wish-com {
    margin: 20px 0;
}
.pro-wish-com span{
    margin-right: 20px;
}


.product-BUTTON{
    display: flex;
    margin: 40px 0;
}
.pro-add-to-cart{
    margin-right: 50px;
}
.pro-add-to-cart input{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 15px 70px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s ease;
}
.pro-add-to-cart input:hover{
    color: #000;
    background-color: #fff;
    padding: 15px 70px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 18px;
    
}

.pro-buy-now a{
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 15px 80px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s ease;
}
.pro-buy-now a:hover{
    color: #fff;
    background-color: black;
    
}