.register-banner{
	background-image: url('img/login1.png');
    background-size: cover;
    background-repeat: repeat;
    height:450px;
	
}

.register-content{
	
    padding: 50px ;
    padding-left: 250px;
}

.register-content input{
    width: 40%;
    padding: 10px 0;
    border-radius: 5px;
}
.register-content input[type=submit]{
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.register-content input[type=submit]:hover{
    background-color: #fa6908 ;
}
.register-content label{
    color:#F58133
}